<!-- podcasts.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Lista de Podcasts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
    <script>
        // Função para controlar a visibilidade do campo de entrada com base no tipo de filtro selecionado
        function toggleInputType() {
            var filtro = document.getElementById('filtro').value;
            var valorInput = document.getElementById('valor');

            if (filtro === 'data') {
                valorInput.type = 'date';
            } else {
                valorInput.type = 'text';
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Lista de Podcasts</h1>

        <!-- Filtro de busca -->
        <form method="GET" action="/podcasts" class="mb-3">
            <div class="form-row">
                <div class="col">
                    <select name="filtro" id="filtro" class="form-control" onchange="toggleInputType()">
                        <option value="data">Data</option>
                        <option value="duracao">Duração</option>
                        <option value="descricao">Descrição</option>
                        <option value="episodio">Episódio</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" name="valor" id="valor" class="form-control" placeholder="Valor do filtro">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Episódio</th>
                    <th>Duração</th>
                    <th>Data</th>
                    <th>Link</th>
                    <th>Descrição</th>
                    <th>Escutar</th>
                </tr>
            </thead>
            <tbody>
                {% for podcast in podcasts %}
                <tr>
                    <td>{{ podcast['id'] }}</td>
                    <td>{{ podcast['episodio'] }}</td>
                    <td>{{ podcast['duracao'] }}</td>
                    <td>{{ podcast['data'] }}</td>
                    <td>{{ podcast['link'] }}</td>
                    <td>{{ podcast['descricao'] }}</td>
                    <td>
                        <a href="https://{{ podcast['link'] }}" target="_blank" class="btn btn-primary">Ir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>